<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="index.html">Projekat Web Servisi</a>
		</div>
		<ul class="nav navbar-nav">
			<li id="pocetna" class="active"><a href="index.html">Početna</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><p class="navbar-text" style="color: white;">
					Dobrodošli, <span style="color: yellow;"> {{ user.username }}</span>
				</p></li>
			<li><a ng-click="signout()" ng-controller="SignOutController">Odjavi se</a></li>
		</ul>
	</div>
</nav>